<div class="container-fluid comp-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <input #inputCountry type="text" name="country input" id="" placeholder="Please enter country name" style="width: 14rem;">
        </div>
        <div class="col-md-2">
          <img [src]="btn.add" class = "ctrl-btn" alt="add-btn" style="width: 1.8rem;" 
          (click)="addCountry()"/>
        </div>
      </div>
      <hr>
      <div>
        <p>Recent Locations</p>
        <hr>
        <ul>
          <li *ngFor="let country of countries;let i = index" >
            <a href="#" (click)="countryDetais(i)">
              <div class="row">
                <div class="col-md-9">{{ this.countries[i].cityName }}-{{ this.countries[i].cityTemp}}F-{{ this.countries[i].cityWeather}}

                </div>
                <div class="col-md-1">
                  <img [src]="btn.reload" class = "ctrl-btn" alt="reload-btn" style="width: 1rem;" (click)="reloadCountry(i)"/>
                </div>
                <div class="col-md-1">
                  <img [src]="btn.remove" class = "ctrl-btn" alt="remove-btn" style="width: 0.9rem;" 
                  (click)="removeCountry(i)"/>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <button class="btn btn-danger"
        (click)="clearList()" >clear</button>
      </div>
    </div>
  </div>
</div>
